.field {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    width: 24rem;
    height: 28rem;
}

.game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40rem;
    height: 40rem;

    position: relative;
}