.field {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    width: 24rem;
    height: 28rem;

    border: 5px solid #aaa;
    border-radius: 1rem;
}